@layer reset, base, layout, components, utilities;

:root {
  --grey-rank-color: hsl(0, 0%, 60%);
  --green-rank-color: hsl(100, 40%, 50%);
  --blue-rank-color: hsl(210, 40%, 50%);
  --energy-color: hsl(50, 60%, 60%);
  --xpos-1: 14%;
  --xpos-2: 21%;
  --xpos-3: 28%;
  --xpos-4: 35%;
  --xpos-5: 42%;
  --ypos-up: 30%;
  --ypos-down: 45%;
}

@layer reset {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    min-width: 100dvw;
    min-height: 100dvh;
  }
  #app {
    min-height: 100dvh;
    min-width: 100%;
    position: relative;
    user-select: none;
  }
}

@layer layout {
  .card-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    bottom: 3rem;
    margin-left: 50dvw;
    transform: translateX(-50%);
  }
}

@layer components {
  .battle-screen {
    width: 100%;
    height: 100dvh;
    background-color: hsl(50, 50%, 80%);
    h1 {
      text-align: center;
      padding-top: 4rem;
    }
  }
  .hero {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: hsl(0, 0%, 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 1.5rem;
    &.hero1 {
      left: var(--xpos-1);
      top: var(--ypos-up);
    }
    &.hero2 {
      left: var(--xpos-2);
      top: var(--ypos-down);
    }
    &.hero3 {
      left: var(--xpos-3);
      top: var(--ypos-up);
    }
    &.hero4 {
      left: var(--xpos-4);
      top: var(--ypos-down);
    }
    &.hero5 {
      left: var(--xpos-5);
      top: var(--ypos-up);
    }
    &.hero6 {
      right: var(--xpos-5);
      top: var(--ypos-up);
    }
    &.hero7 {
      right: var(--xpos-4);
      top: var(--ypos-down);
    }
    &.hero8 {
      right: var(--xpos-3);
      top: var(--ypos-up);
    }
    &.hero9 {
      right: var(--xpos-2);
      top: var(--ypos-down);
    }
    &.hero10 {
      right: var(--xpos-1);
      top: var(--ypos-up);
    }
  }
  .hero-card {
    width: 5rem;
    aspect-ratio: 3/4;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    user-select: none;
    position: relative;
    .energy-bar {
      min-height: 1rem;
      width: 90%;
      background-color: var(--energy-color);
      position: absolute;
      bottom: 0.2rem;
      border-radius: 0.2rem;
    }
    &.full-energy {
      box-shadow: 0 0 0 0.6rem var(--energy-color);
      cursor: pointer;
    }
    &.grey {
      box-shadow: 0 0 0 0.5rem var(--grey-rank-color);
    }
    &.green {
      box-shadow: 0 0 0 0.5rem var(--green-rank-color);
    }
    &.green1 {
      box-shadow:
        0 0 0 0.25rem var(--grey-rank-color),
        0 0 0 0.5rem var(--green-rank-color);
    }
  }
}
